@font-face{
    src: url("./fonts/Gilroy-Thin.otf");
    font-family: "Gilroy";
    font-weight: 200;
}

@font-face{
    src: url("./fonts/Gilroy-Light.otf");
    font-family: "Gilroy";
    font-weight: 300;
}

@font-face{
    src: url("./fonts/Gilroy-Regular.otf");
    font-family: "Gilroy";
    font-weight: 400;
}

@font-face{
    src: url("./fonts/Gilroy-Medium.otf");
    font-family: "Gilroy";
    font-weight: 500;
}

@font-face{
    src: url("./fonts/Gilroy-Bold.otf");
    font-family: "Gilroy";
    font-weight: 600;
}

@font-face{
    src: url("./fonts/Gilroy-Extrabold.otf");
    font-family: "Gilroy";
    font-weight: 700;
}
*{
  margin: 0;
  padding: 0;
}
html,body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
 :root {
  /*========== Colors ==========*/
  --primary-color: #FA8F14;
  --secondary-color: #f0f6fb;
  --primary-color-bg: #fff;
  --title-color: #222222;
  --text-color: #666666;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 2.7rem;
  --h2-font-size: 2.2rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-black: 900;

  /*========== Margenes ==========*/
  --m-0-25: 0.25rem;
  --m-0-5: 0.5rem;
  --m-0-75: 0.75rem;
  --m-1: 1rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;
  --m-2-5: 2.5rem;

  /*========== Box Shadow and Border ==========*/
  --shadow-1: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
  --border-1: 1px solid rgba(0, 0, 0, 0.08);
}

/* Responsive typography */
@media screen and (min-width: 992px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

#main {
    width: 100%;
}

#fs {
    position: fixed;
    z-index: 999999999999999;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #333;
}

#fs h1 {
    position: relative;
    top:10%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    overflow: hidden;
    height: 8vw;
}

#fs span {
    font-size: 10vw;
    font-weight: 500;
    display: inline-block;
    -webkit-transform: translateY(200%);
        -ms-transform: translateY(200%);
            transform: translateY(200%);
}

#cube {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 0%;
    height: 0%;
}

#cube img {
    opacity: 0;
    position: absolute;
    border-radius: 10%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

@media(max-width: 500px){
    .text h1{
        font-size: 14vw;
    }

    .text .line{
        height: 5px;
    }

    .text{
        max-width: 80%;
        white-space: wrap;
    }

    .text h1{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .options{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: initial;
    }

    .options .cover{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: initial;
    }
}
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

  
  
  
  
  /*=============== BASE ===============*/
  
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: var(--body-color);
    color: var(--text-color);
    overflow-x: hidden;
  }
  h1,
  h2,
  h3,
  h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img{
    max-width: 100%;
    height: auto;
  }
  
  button,
  input,
  textarea {
    border: none;
    outline: none;
    font-family: var(--body-font);
  }
  button {
    cursor: pointer;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
  }
  li {
     font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 4px 0px;
    color: #111;
  
  } 
.maxdiv100{
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}
#section2{
  width: 100vw;
  height: 20vw;
}
.vl{
  width: 100%;
  height: 100%;
}
  
  /* main container */

  .area{
    background: #f4d1a9;
    /* background: linear-gradient(rgba(250, 143, 20, 0.185),rgba(250, 143, 20, 10%)) */
    /* background: -webkit-linear-gradient(to bottom, #f8dbba, #f9f2e9);   */
    background: -webkit-linear-gradient(to left, rgba(250, 143, 20, 0.185),rgba(250, 143, 20, 10%));
    width: 100%;
    height:100vh;
   
  }
  .circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  
  .circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.5);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
  }
  
  .circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }
  
  
  .circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 10s;
  }
  
  .circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }
  
  .circles li:nth-child(4){
    left: 20%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }
  
  .circles li:nth-child(5){
    left: 35%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(6){
    left: 58%;
    width: 110px;
    height: 110px;
    animation-delay: 9s;
    animation-duration: 12s;
  }
  
  .circles li:nth-child(7){
    left: 10%;
    width: 130px;
    height: 130px;
    animation-delay: 4s;
    animation-duration: 15s;
  }
  .circles li:nth-child(8){
    left: 20%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 20s;
  }
  
  .circles li:nth-child(9){
    left: 40%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 15s;
  }
  
  .circles li:nth-child(10){
    left: 45%;
    width: 150px;
    height: 150px;
    animation-delay: 1s;
    animation-duration: 11s;
  }
  .circles li:nth-child(11){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 5s;
    animation-duration: 15s;
  }
  .circles li:nth-child(12){
    left: 4%;
    width: 150px;
    height: 150px;
    animation-delay: 6s;
    animation-duration: 17s;
  }
  .circles li:nth-child(13){
    left: 92%;
    width: 100px;
    height: 100px;
    animation-delay: 5s;
    animation-duration: 10s;
  }
  .circles li:nth-child(14){
    left: 5%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }
  
  .circles li:nth-child(15){
    left: 87%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
  }
  .circles li:nth-child(16){
    left: 50%;
    width: 20px;
    height: 20px;
    animation-duration: 20s;
  }
  .circles li:nth-child(17){
    left: 46%;
    width: 30px;
    height: 30px;
    animation-duration: 20s;
  }
  
  @keyframes animate {
  
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
  
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
  
  }
  .main-container{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    /* background: linear-gradient(rgba(247, 164, 68, 0.79),rgba(235, 160, 74, 0.29)), url(/front/growupp/grow/assets/img/back-image.jpg); */
    /* background-image: url(assets/img/back-image.png);
    background-size: contain;
    background-repeat: no-repeat; */
    overflow-x: hidden;
  }
  .nav-wrapper {
      display: flex;
      position: relative;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      margin: auto;
      width: 90%;
      height: 9%;
      border-radius:  15px;
      padding: 0 25px;
      z-index: 2;
      background: rgb(254, 253, 253);
      box-shadow: 0 1px 20px rgba(39, 36, 36, 0.4);
      /* box-shadow: 1px 5px 20px 8px #454343; */
    margin-top: 1%;
  }
  
  .logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .logo {
      height: 60px;
  }

  /* navbar */


  .nav-tab a{
      text-decoration: none;
      /* color:  rgb(32, 32, 32); */
      color: #6d4078;
  }
  .nav-tab:not(:last-child):hover{
    /* color: white;
    border-radius: 15%;
    box-shadow: 0 0 10px #4A2A51;
    transform: scale(1.1); */
    border-bottom: 3px solid #4A2A51;
    transition-delay: 0.2s;
}
.nav-tab:hover a{
  font-weight: bold;
  transition-delay: 0.2s;
}  
.nav-tabs {
      display: flex;
      list-style: none;
  }

  .nav-tabs li{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .nav-tab:not(:last-child) {
      padding: 10px 25px;
      margin: 0;
      border-right: 1px solid #eee;
  }
  
  .nav-tab:last-child {
      padding: 10px 0 0 25px;
  }
  
  .nav-tab,
  .menu-btn {
      cursor: pointer;
    color: black;
  }
  
  .hidden {
      display: none;
  }

  .btn-16 {
    border-radius: 20px;
    margin-top: -10px;
    background: #FA8F14;
    height: 40px;
    width: 100px;
   color: #fff;
   z-index: 2;
  }


.top200 {
  height: 23%;
    width: 100vw;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: center;
  font-family: 'Gilroy-Medium', sans-serif;
}
.container200{
  height: 90%;
  display: flex;
  flex-direction: column;
  /* justify-content: center;          this is very imp  */
  justify-content: center;
  /* margin-top: 3%; */
  align-items: center;
}

.bottom200 {
  height: 52%;
  width: 100vw;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  font-family: 'Gilroy-Medium', sans-serif;
  color: #4A2A51;
}

.top200 h4 {
  font-size: 50px;
  color: #4A2A51;
}

.top200 .highlight200 {
  background-color: rgba(105, 102, 102, 0.25);
  border-radius: 10px;
  color: #111;
  padding: 0.2% 2%;
  margin: 14px 1% 0 1%;
  text-align: center;
}

.button200 button {
  background: #4A2A51;
  color: white;
  height: 38px;
  width: 115px;
  border: none;
  margin-top: 18px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0px 10px 40px 0px rgba(105, 102, 102, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.button200 a{
  color: white;
}
.button200 button:hover{
  background: #82538d; 
}

.left200 {
  width: 50vw;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-left: 5%;
  height: 100%;
  padding-left: 6%;
  animation: slide-right 1s linear forwards;
}
@keyframes slide-right{
  0%{
    transform: translate(100px);
    opacity: 0;
  }
  100%{
    transform: translate(0px);
    opacity: 1;
  }
}

/* #back-video{
  width: 150px;
  height: 150px;
  z-index: -1;
} */
 /* .left200 .head200{
  width: 100%;
} */
.head200 h3 {
  font-size: 48px;
  font-family: 'Gilroy-Medium', sans-serif;
  font-weight: 600;
  color: #4A2A51;
 margin-top: 1%;
}
.content{
  display: flex;
}
.para200{
  width: 70%;
}
.para200 p {
  font-size: 19px;
  padding: 2%;
  font-weight: 500;
}

.knowmore200 button {
  border: 1px solid #4A2A51;
  color: #4A2A51;
  background: none;
  cursor: pointer;
  border-radius: 10px;
  height: 31px;
  width: 86px;
}

.knowmore200 button:hover {
  background: #40134b;
  color: beige;
}

.left200 div {
  margin: 2.5% 0px;
}

.play200 {
  height: 15px;
  width: 15px;
}

.star200 img {
  width: 21px;
  height: 21px;
}

.we200 {
  /* border: 1px solid black; */
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  height: 41px;
  width: 313px;
  background: linear-gradient(112.89deg, rgba(74, 42, 81, 0.06) 1.18%, rgba(74, 42, 81, 0.17) 100%);
}

  .right200 {
    width: 50vw;
    /* border: 2px solid black; */
    display: flex;
  }
  .image{
    margin-left: 14%;
    margin-top: -3.5em;
  }
.right200 img{
  height: 410px;
  width: 410px;
}
.show200{
  width: 84%;
  height: 9%;
  /* margin-bottom:  ; */
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  border-radius:  15px;
  background:#fbeedd;
  background: linear-gradient(#f4d7ae,#f9e9d3);
	 box-shadow: 0 1px 20px rgba(39, 38, 36, 0.4); 
}
.learn200{
  margin: 1.5% 0;
  height: auto;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.learn200:hover{
  transform: scale(1.1);
}
/* .learn200:not(:last-child) {
	border-right: 2px solid rgb(104, 101, 101, 0.78);
} */
.learn200 img{
  width: 34px;
  height: 30px;
}
.learn200 h4{
  font-size: 13px;
  margin-top: 1.5%;
 color: #4A2A51;
}
.show200 hr{
  margin: 1% 0;
  height: 40px;
  border: 0.1px solid rgb(104, 101, 101, 0.78);
}
.column {
    float: left;
    width: 45%;
    height: 20%; 
    padding:1%;
    margin-block-end: 1%;
    margin-left: 5%;
    border-radius:3%;
  }
  .column1 {
   float: left;
   width: 45%;
   height: 20%; 
   padding:1%;
   margin-block-end: 1%;
   margin-right: 5%;
   border-radius: 3%;
 }
  .row:after {
    content: "";
    display: flex;
    clear: both;
  }

  .container1
  {width: auto;
      background-image:url(/CRTD.JS/intern/background.png);
}
 h1{
    margin-left: 0%; margin-right: 12%; font-size:xx-large; font-weight:bolder;
 }
 h2{
    margin-left: 6%;
    font-size:x-large; font-weight:bolder;
 }
 p{
    margin-left: 6%; margin-right:6%; font-size:medium;
    font-style: oblique;
    text-indent: 0%;  
    letter-spacing: 0%;
    line-height: 1.3;
    word-spacing: 1%;
    

 }
 img{
    height: 10%;
    width: 10%;
    border:5%;
    
    margin-left: 5%;
 }
 .column{
    float: left;
    width: 49%;
    height: 20%; 
  
  
  }
  .row:after {
    content: "";
    display: flex;
    clear: both;
  }
  .img1{
      margin-left: 10%;
      width: 40%;
      height: 45%;
      border-radius:10%;
  }
  .img2{
     
    width: 50%;
     margin-left: 55%;
      border-radius:10%;
}
.img3{
   width: 45%;
     margin-left: 10%;
     height:330px;
     border-radius:10%;  
    }
.h1{
   font-weight:bolder; font-size:x-large; 
   margin-left: 0%;
  margin-top: 1%;
}
.div{
   margin-left: 15%;
    margin-bottom: 2%;
}
p{
  margin-right: 10%;
  font-style: oblique;
  text-indent: 0%;  
  letter-spacing: 0%;
  line-height: 1.3;
  word-spacing: 1%;
  margin-left: 7%;
}
.heading{
    margin-left: 30%; margin-right: 6%; font-size:xx-large; font-weight:bolder;
    
}
.overall{
  background-image: url(/CRTD.JS/intern/background.png);
}
@media only screen and (max-width: 667px) {

  [class*="column"] {
    width: 100%;
    height: 60%;
    margin-right: 20%;
  }
}
@media only screen and (max-width: 667px) {

  [class*="heading"] {
    width: 100%;
    height: 60%;
    margin: 0 5% 0 5%;
   margin-bottom: 0 10%;
  }
}
.bgg-image {
    background: linear-gradient(rgba(250, 143, 20, 0.185),rgba(250, 143, 20, 10%)), url(/front/growupp/grow/assets/img/bg-image\ \(1\).jpg);
    background-attachment: fixed;
    /* transition: all cubic-bezier(0.19,1,0.22,1) */
  }
  #section6 img{
    width: 100%;
    height: 100%; 
  }
  
  @import url('http://fonts.cdnfonts.com/css/gilroy-bold');
  
  .container {
    display: flex;
    flex-direction: row;
    background-color: #FEE9D0;
    height: 381px;
    margin: 40px 0px;
    margin-top: 10%;
    font-family: 'Gilroy-Bold', sans-serif;
  }
  
  .text17 {
    color: #54305c;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0% 431.25x;
  margin-left: 6%;
  }
  .text17 p{
    font-size: 1.5vw;
    width: 150%;
    font-weight: 500;
  }
  
  .image17 {
    width: 50%;
    /* transition: all cubic-bezier(0.19,1,0.22,1) */
  }
  
  
  .image17 img {
    position: absolute;
    /* margin: 0px 272px; */
    height: 450px;
    width: 450px;
    left: 60%;
    /* padding: 0px 208px; */
    margin-top: -10%;
    transition: all cubic-bezier(0.19,1,0.22,1)
  }
  
  
  
  .heading17 {
    font-size: 50px;
    /* margin: 55px 0px; */
    /* margin-top: -34px; */
  }
  
  .para17 {
    font-size: 21px;
     margin-top: -42px;
  }
  
  .btn17 {
    width: 100px;
    height: 35px;
    margin-top: 10px;
    background-color: #4A2A51;
    color: white;
    border-radius: 7px;
    border-style: none;
  }
  
  .btn17:hover {
    background-color: #824d8e;
    
    cursor: pointer;
  }
  .bgg-image {
      background: linear-gradient(rgba(250, 143, 20, 0.185),rgba(250, 143, 20, 10%)), url(/front/growupp/grow/assets/img/bg-image\ \(1\).jpg);
      background-attachment: fixed;
    }
    
    @import url('http://fonts.cdnfonts.com/css/gilroy-bold');
    
    .container {
      display: flex;
      flex-direction: row;
      background-color: #FEE9D0; 
      height: 381px;
      margin: 40px 0px;
      margin-top: 10%;
      font-family: 'Gilroy-Bold', sans-serif;
    }
    
    .text17 {
      color: #54305c;
      margin: 1%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px 69px;
    margin-left: 6%;
    }
    .text17 p{
      font-size: 1.5vw;
      width: 150%;
      font-weight: 500;
    }
    
    .image17 {
      width: 50%;
      transition: all cubic-bezier(0.19,1,0.22,1)
    }
    
    
    .image17 img {
      position: absolute;
      /* margin: 0px 272px; */
      height: 450px;
      width: 450px;
      left: 60%;
      /* padding: 0px 208px; */
      margin-top: -10%;
    
    
    }
  
    
    .heading17 {
      font-size: 50px;
      /* margin: 55px 0px; */
      /* margin-top: -34px; */
    }
    
    .para17 {
      font-size: 21px;
       margin-top: -42px;
    }
    
    .btn17 {
      width: 100px;
      height: 35px;
      margin-top: 10px;
      background-color: #4A2A51;
      color: white;
      border-radius: 7px;
      border-style: none;
    }
    
    .btn17:hover {
      background-color: #824d8e;
      cursor: pointer;
    }
    .circle{
      height:150px;
      width:320px;
      background-color: #fff;
      border-radius: 200%;
      margin-top: 200px;
      margin-right: 332px;
    }
    .rect{
      height: 70px;
      width: 109px;
      background-color: #fff;
      margin-top: 130px;
      margin-left: 16%;
    }
    .image17{
     animation: anime 1s infinite ease-in-out;
     -webkit-animation: anime 1s infinte ease-in-out;
     animation-delay: .3s;
  
    }
    .image17 img:hover{
      height: 400px;
    }